.box.box-cafe {
    border-top-color: #795548;
}
.row-bordered:after {
    content: "";
    display: block;
    border-bottom: 2px solid #e02b20;
    margin: 0 0 0 0;
}

#myCarousel {margin-left: 20px; margin-right: 20px;}

.carousel-control {
    top: 50%;
}
.carousel-inner {
    width: auto;
    height: auto;
}
.carousel-control.left, .carousel-control.right {
    background: none;
    color: #fff5e2;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed',Helvetica,Arial,Lucida,sans-serif;
}

h1, h2, h3, h5, h6 {

    color: #333;

}

h1{

    font-size: 35px;
}

h2{

    font-size: 25px;
}
h3{
    font-size: 18px;
}
h4{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 12px;
    color: #6f6a7a;
}
h5{
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h6{
    color: #04787a;
    font-size: 40px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    color: #6f6a7a;

}


.map {

    height: 400px;
    width: 100%;
}

.print-only {
    display: none;
}

@media print {

    a[href]:after {
        content: none !important;
    }
    body {
        margin: 0;
        color: #000;
        background-color: #fff;
    }
    header, footer {
        display: none;
    }
    .print-only {
        display: block;
    }

    h1{

        font-size: 16px;
    }

    h2{

        font-size: 14px;
    }
    h3{
        font-size: 12px;
    }

}